<footer>
    <div class="container">
        <p>Contact me at: <a href="mailto:BurhanChattha">BurhanChattha
        </Canvas>@gmail.com</a></p>
        <p>LinkedIn: <a href="https://ca.linkedin.com/in/burhan-chattha" target="_blank">Muhammad Burhan Chattha</a></p>
        <p>&copy; 2024 Burhan Chattha. All Rights Reserved.</p>
        
    </div>
</footer>

</body>
</html