<%- include('header') %>

    <section id="home">
        <div class="container">
            <h2>Welcome to My Portfolio</h2>
            <p>I'm Burhan Chattha and I'm a web developer. To find out more about me, click on one of the option above, to learn more about me click on about and to see my project, click on projects and to contact me click on contact.</p>
        </div>
    </section>

    <%- include('footer') %>