<%- include('header') %>

<section id="home" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="display-4 mb-3">Welcome to My Portfolio</h2>
        <p class="lead">I'm Burhan Chattha, a web developer. To find out more about me, use the options above. Click on "About" to learn more about me, "Projects" to see my work, and "Contact" to get in touch.</p>
    </div>
</section>

<%- include('footer') %>